.calculators__card {
	border-radius: 12px;
	background-color: var(--color-surface);
	box-shadow: 0px 4px 16px 0px
		color-mix(in srgb, var(--color-primary) 46%, var(--color-surface));
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.calculators__form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.form__body {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
