.fieldset {
	border-radius: var(--radius-md);
	padding: var(--space-md);
}

.fieldset__legend {
	font-size: 0.7rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--color-text-accent);
}

.fieldset__content {
	width: 100%;
}
